In [2]:
import pandas as pd
import numpy as np

In [13]:
#df = pd.read_excel('C:\Files and Folders\project\lennox challenge\Final Data\Store Metrics.xlsx','Metrics_2015')


df = pd.read_excel('C:/Users/Jainik Patel/Desktop/2nd Semester/DSC Challenge/Final Data/Store_Metrics.xlsx','Metrics_2015')

In [14]:
df=df.set_index('Plant')

In [15]:
df.head()

,Jan WC MTD % to Quota,Feb WC MTD % to Quota,Mar WC MTD % to Quota,Apr WC MTD % to Quota,May WC MTD % to Quota,Jun WC MTD % to Quota,Jul WC MTD % to Quota,Aug WC MTD % to Quota,Sep WC MTD % to Quota,Oct WC MTD % to Quota,...,Mar Avg Tkt PnS,Apr Avg Tkt PnS Rev,May Avg Tkt PnS Rev,Jun Avg Tkt PnS Rev,Jul Avg Tkt PnS Rev,Aug Avg Tkt Rev PnS,Sep Avg Tkt Rev PnS,Oct Avg Tkt Rev PnS,Nov Avg Tkt Rev PnS,Dec Avg Tkt Rev PnS
Plant,,,,,,,,,,,,,,,,,,,,,
A168,1.2563230347507186,0.91564009476217756,0.86426041015453059,0.827163,1.232790,1.053287329435924,1.190846519452017,1.018305,1.466028329144254,1.0765962060971661,...,-0.067403,-0.030046,0.054969,0.086005,-0.013104,0.199287,0.085828,0.068687,0.050094,-0.169677
A169,1.8094030904251273,1.7933860113804869,1.8996196712980598,2.026186,2.650782,2.396591278075062,2.7057857827058718,2.884770,1.87979632837565,3.6476690898561319,...,1.111359,0.501014,0.472923,0.429515,0.491180,0.527790,0.730422,0.696412,0.532567,0.532005
A16A,1.6913304152816593,1.2772008291937444,1.1897077939243346,1.278536,1.199927,1.031694200000411,1.2519691543961919,1.252253,1.039500918271143,1.018734707373526,...,-0.031219,0.067675,0.055982,0.046970,0.035155,-0.003309,-0.063325,-0.389772,-0.060821,-0.081414
A16B,1.2453380509673757,0.88542850849940968,1.0026503314594941,1.363757,1.160079,0.94214144817390932,1.3394699612219789,1.177348,1.0218207274149389,1.4009220726234191,...,-0.381579,-0.312481,0.067663,-0.021265,-0.142510,-0.148489,-0.139972,-0.104044,-0.156815,-0.228842
A16C,1.4973698270074127,0.54517396643471128,1.1096699335524123,1.674200,0.679575,0.77778677702116139,1.208299855133913,0.969177,0.74992223189036344,0.58773392787367562,...,0.339962,0.597715,0.171623,0.527760,0.506559,0.065817,-0.214345,-0.539619,0.088432,0.255776

In [79]:
new_col=[]
for col in df.columns:
    temp=col.split()
    new_col+=[(' '.join(temp[1:]),temp[0])]
new_col

[('WC MTD % to Quota', 'Jan'),
 ('WC MTD % to Quota', 'Feb'),
 ('WC MTD % to Quota', 'Mar'),
 ('WC MTD % to Quota', 'Apr'),
 ('WC MTD % to Quota', 'May'),
 ('WC MTD % to Quota', 'Jun'),
 ('WC MTD % to Quota', 'Jul'),
 ('WC MTD % to Quota', 'Aug'),
 ('WC MTD % to Quota', 'Sep'),
 ('WC MTD % to Quota', 'Oct'),
 ('WC MTD % to Quota', 'Nov'),
 ('WC MTD % to Quota', 'Dec'),
 ('SMA MTD % to Quota', 'Jan'),
 ('SMA MTD % to Quota', 'Feb'),
 ('SMA MTD % to Quota', 'Mar'),
 ('SMA MTD % to Quota', 'Apr'),
 ('SMA MTD % to Quota', 'May'),
 ('SMA MTD % to Quota', 'Jun'),
 ('SMA MTD % to Quota', 'Jul'),
 ('SMA MTD % to Quota', 'Aug'),
 ('SMA MTD % to Quota', 'Sep'),
 ('SMA MTD % to Quota', 'Oct'),
 ('SMA MTD % to Quota', 'Nov'),
 ('SMA MTD % to Quota', 'Dec'),
 ('Store Account MTD % to Quota', 'Jan'),
 ('Store Account MTD % to Quota', 'Feb'),
 ('Store Account MTD % to Quota', 'Mar'),
 ('Store Account MTD % to Quota', 'Apr'),
 ('Store Account MTD % to Quota', 'May'),
 ('Store Account MTD % to Quota', 'Jun'),
 ('Store Account MTD % to Quota', 'Jul'),
 ('Store Account MTD % to Quota', 'Aug'),
 ('Store Account MTD % to Quota', 'Sep'),
 ('Store Account MTD % to Quota', 'Oct'),
 ('Store Account MTD % to Quota', 'Nov'),
 ('Store Account MTD % to Quota', 'Dec'),
 ('Parts & Supplies MTD % to Quota', 'Jan'),
 ('Parts & Supplies MTD % to Quota', 'Feb'),
 ('Parts & Supplies MTD % to Quota', 'Mar'),
 ('Parts & Supplies MTD % to Quota', 'Apr'),
 ('Parts & Supplies MTD % to Quota', 'May'),
 ('Parts & Supplies MTD % to Quota', 'Jun'),
 ('Parts & Supplies MTD % to Quota', 'Jul'),
 ('Parts & Supplies MTD % to Quota', 'Aug'),
 ('Parts & Supplies MTD % to Quota', 'Sep'),
 ('Parts & Supplies MTD % to Quota', 'Oct'),
 ('Parts & Supplies MTD % to Quota', 'Nov'),
 ('Parts & Supplies MTD % to Quota', 'Dec'),
 ('Avg Tkt YoY Growth', 'Jan'),
 ('Avg Tkt YoY Growth', 'Feb'),
 ('Avg Tkt YoY Growth', 'Mar'),
 ('Avg Tkt YoY Growth', 'Apr'),
 ('Avg Tkt YoY Growth', 'May'),
 ('Avg Tkt YoY Growth', 'Jun'),
 ('Avg Tkt YoY Growth', 'Jul'),
 ('Avg Tkt YoY Growth', 'Aug'),
 ('Avg Tkt YoY Growth', 'Sep'),
 ('Avg Tkt YoY Growth', 'Oct'),
 ('Avg Tkt YoY Growth', 'Nov'),
 ('Avg Tkt YoY Growth', 'Dec'),
 ('Phone Calls', 'Jan'),
 ('Phone Calls', 'Feb'),
 ('Phone Calls', 'Mar'),
 ('Phone Calls', 'Apr'),
 ('Phone Calls', 'May'),
 ('Phone Calls', 'Jun'),
 ('Phone Calls', 'Jul'),
 ('Phone Calls', 'Aug'),
 ('Phone Calls', 'Sep'),
 ('Phone Calls', 'Oct'),
 ('Phone Calls', 'Nov'),
 ('Phone Calls', 'Dec'),
 ('Mktg Adopt', 'Jan'),
 ('Mktg Adopt', 'Feb'),
 ('Mktg Adopt', 'Mar'),
 ('Mktg Adopt', 'Apr'),
 ('Mktg Adopt', 'May'),
 ('Mktg Adopt', 'Jun'),
 ('Mktg Adopt', 'Jul'),
 ('Mktg Adopt', 'Aug'),
 ('Mktg Adopt', 'Sep'),
 ('Mktg Adopt', 'Oct'),
 ('Mktg Adopt', 'Nov'),
 ('Mktg Adopt', 'Dec'),
 ('VOC', 'Jan'),
 ('VOC', 'Feb'),
 ('VOC', 'Mar'),
 ('VOC', 'Apr'),
 ('VOC', 'May'),
 ('VOC', 'Jun'),
 ('VOC', 'Jul'),
 ('VOC', 'Aug'),
 ('VOC', 'Sep'),
 ('VOC', 'Oct'),
 ('VOC', 'Nov'),
 ('VOC', 'Dec'),
 ('Avg Tkt PnS', 'Jan'),
 ('Avg Tkt PnS', 'Feb'),
 ('Avg Tkt PnS', 'Mar'),
 ('Avg Tkt PnS Rev', 'Apr'),
 ('Avg Tkt PnS Rev', 'May'),
 ('Avg Tkt PnS Rev', 'Jun'),
 ('Avg Tkt PnS Rev', 'Jul'),
 ('Avg Tkt Rev PnS', 'Aug'),
 ('Avg Tkt Rev PnS', 'Sep'),
 ('Avg Tkt Rev PnS', 'Oct'),
 ('Avg Tkt Rev PnS', 'Nov'),
 ('Avg Tkt Rev PnS', 'Dec')]

In [80]:
df.columns =pd.MultiIndex.from_tuples(new_col)

In [81]:
df=df.stack()

In [82]:
df=df.reset_index()

In [83]:
df.head()

,Plant,level_1,Avg Tkt PnS,Avg Tkt PnS Rev,Avg Tkt Rev PnS,Avg Tkt YoY Growth,Mktg Adopt,Parts & Supplies MTD % to Quota,Phone Calls,SMA MTD % to Quota,Store Account MTD % to Quota,VOC,WC MTD % to Quota
0,A168,Apr,NaN,-0.030046,NaN,-0.090967,0.002268,0.694404,0.942935,0.718326,0.68482316049595715,0.926238,0.827163
1,A168,Aug,NaN,NaN,0.199287,0.040797,0.000000,1.02413,0.953829,1.24071,1.9934,0.668475,1.0183
2,A168,Dec,NaN,NaN,-0.169677,-0.149157,0.012850,0.84276,0.919774,1.1192847756257525,0.88751472997742498,0.958300,1.00409
3,A168,Feb,-0.180865,NaN,NaN,-0.018053,0.000000,0.974624,0.952681,1.19209,0.7838676565285726,0.741150,0.91564009476217756
4,A168,Jan,-0.008179,NaN,NaN,0.039269,0.001057,0.898277,0.930128,1.00197,1.4271468044729723,0.741150,1.2563230347507186

In [84]:
df['level_1']=df['level_1']+' 2014'

In [85]:
df.head()

,Plant,level_1,Avg Tkt PnS,Avg Tkt PnS Rev,Avg Tkt Rev PnS,Avg Tkt YoY Growth,Mktg Adopt,Parts & Supplies MTD % to Quota,Phone Calls,SMA MTD % to Quota,Store Account MTD % to Quota,VOC,WC MTD % to Quota
0,A168,Apr 2014,NaN,-0.030046,NaN,-0.090967,0.002268,0.694404,0.942935,0.718326,0.68482316049595715,0.926238,0.827163
1,A168,Aug 2014,NaN,NaN,0.199287,0.040797,0.000000,1.02413,0.953829,1.24071,1.9934,0.668475,1.0183
2,A168,Dec 2014,NaN,NaN,-0.169677,-0.149157,0.012850,0.84276,0.919774,1.1192847756257525,0.88751472997742498,0.958300,1.00409
3,A168,Feb 2014,-0.180865,NaN,NaN,-0.018053,0.000000,0.974624,0.952681,1.19209,0.7838676565285726,0.741150,0.91564009476217756
4,A168,Jan 2014,-0.008179,NaN,NaN,0.039269,0.001057,0.898277,0.930128,1.00197,1.4271468044729723,0.741150,1.2563230347507186

In [86]:
df.to_csv("C:\Files and Folders\project\lennox challenge\Final Data\Store_metric_2014.csv")